.grabZone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: min(60vw, 60vh);
  height: min(60vw, 60vh);
  background: #26282a;
  border: 1px solid #2c3135;
  border-radius: 2rem;
  overflow: hidden;
  cursor: grab;
}